# INTRO

In [8]:
grade = input()
if grade == "A":
    print("Congratulations!")
elif grade == "B":
    print("Good")
elif grade =="C":
    print("Pass")
else:
    print("No such grade in the system")

A
Congratulations!

# DEFINATION

In [104]:
def addi(a,b):
    z = a * b
    return z
print(addi(4,6))

24

In [105]:
a = int(input())
b = int(input())
addi(a,b)

5
6

30

In [110]:
def is_subject_available(user_subject, predefined_subjects):
    return user_subject in predefined_subjects

predefined_subjects = ["Software", "Chemistry", "English", "Arabic"]

user_subject = input("Enter the name of a subject: ")

if is_subject_available(user_subject, predefined_subjects):
    print("The subject is available.")
else:
    print("The subject is not available.")

Enter the name of a subject: Chemistry
The subject is available.

# loops

In [119]:
nums = [1,2,3]

for num in nums:
    print(num)

1
2
3

In [125]:
nums = [1,2,3]

for num in nums:
    if num == 2 :
        print('found')
        continue #break will show 1 stop (at 2) not print 3
    print(num)

1
found
3

In [127]:
nums = [1,2,3]

for num in nums:
    for letter in 'ab':
        print(num, letter)

1 a
1 b
2 a
2 b
3 a
3 b

In [132]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [160]:
x = 0
while x <= 5:
    if x ==3:
        break 
    print(x)
    x+=1   #incriment by 1

0
1
2

In [165]:
x = 0
while True:
    if x ==3:
        break 
    print(x)
    x+=1   #incriment by 1

0
1
2

In [184]:
#Create a loop that prints only even numbers from a list of numbers from 1 to 10
i = range(1,11)
for num in i:
    if num % 2 != 0:  #REMAINDER = 0 BY % SIGN WHEN DIVIDE BY 2
        continue
    print(num)

2
4
6
8
10

In [189]:
k = range(1,4)

for i in k:
    for j in k:
        print(i,'*',j,'=',i*j)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9

# ARGUMENT

In [190]:
#POSITIONAL ARGUMENT 
def student_information(class_name, student_name):
    # Display information about a student and their class.
    print(student_name + " is enrolled in " + class_name + " class.")

    # Positional arguments:
student_information('Mathematics', 'Alice')

Alice is enrolled in Mathematics class.

In [191]:
# Keyword arguments
def student_information(class_name, student_name):
    # Display information about a student and their class.
    print(student_name + " is enrolled in " + class_name + " class.")
# Keyword arguments:
student_information(class_name='Mathematics', student_name='Alice')

Alice is enrolled in Mathematics class.

In [198]:
# Default Arguments 
def enroll_student(student_name, course='Introduction to Python'):
    # Enroll a student in a course with a default option.
    print("Student Name: " + student_name)
    print("Enrolled Course: " + course)   
enroll_student(student_name='Sara', course='Data Structures')

Student Name: Sara
Enrolled Course: Data Structures

In [199]:
# Variable-length Arguments: *args
def enroll_in_courses(student_name, *courses):
    # Enroll a student in multiple courses.
    print("Student: " + student_name)
    print("Enrolled in:")
    for course in courses:
        print("- " + course)
# Example of enrolling a student in three different courses:
enroll_in_courses('Emily', 'Biology 101', 'Chemistry 101', 'Physics 101')

Student: Emily
Enrolled in:
- Biology 101
- Chemistry 101
- Physics 101

In [216]:
# Variable-length Arguments: **kwargs 
def enroll_student(student_name, **details):
     # Enroll a student with additional details.
    print("Enrolling " + student_name + " with the following details:")
    for detail,value in details.items():
        print("- " + detail.title() + ": " + value)
# Example of enrolling a student with additional details:
enroll_student('Smith', course='Algebra II', semester='One', payment_method='Credit Card')

Enrolling Smith with the following details:
- Course: Algebra II
- Semester: One
- Payment_Method: Credit Card

# DATA HANDELING

In [223]:
#READING DATA from txt file
#read() to read entire file, readline() for single line, readlines() for all lines in a list.
with open('example.txt', 'r') as file:
    content = file.read()
    print(content)

abcd.1234

In [236]:
#Reading Data from Files - CSV
#Read data with csv.reader or csv.DictReader for dictionary-like reading.
import csv
with open('students.csv', 'r') as file:
    csv_reader = csv.reader(file)    # csv.DictReader as dictionary, Only csv.reader as list
    for row in csv_reader:
        print(row)

['Name', 'Age', 'Grade']
['Alice', '21', 'A']
['Bob', '22', 'F']
['Charlie', '18', 'B']
['David', '21', 'A']
['Eve', '20', 'A']
['Fiona', '18', 'C']
['George', '19', 'A']
['Hannah', '20', 'C']
['Isla', '22', 'A']

In [237]:
import csv
with open('students.csv', 'r') as file:
    csv_reader = csv.DictReader(file)    # csv.DictReader as dictionary, Only csv.reader as list
    for row in csv_reader:
        print(row['Grade'])

A
F
B
A
A
C
A
C
A

In [ ]:
#READING JSON
import json
with open('data.json', 'r') as file:
    data = json.load(file)

In [242]:
# WEB API READING
import requests
api_url = "https://jian.sh/malaysia-api/state/v1/all.json"
response = requests.get(api_url)
malaysia_state_data = response.json()

for state in malaysia_state_data:
    print(f"State: {state['state']}, Capital: {state['capital']}, Population: {state['population']}")

State: Johor, Capital: Johor Bahru, Population: 3794000
State: Kedah, Capital: Alor Setar, Population: 2194100
State: Kelantan, Capital: Kota Bharu, Population: 1928800
State: Malacca, Capital: Malacca City, Population: 937500
State: Negeri Sembilan, Capital: Seremban, Population: 1129100
State: Pahang, Capital: Kuantan, Population: 1684600
State: Penang, Capital: George Town, Population: 1774400
State: Perak, Capital: Ipoh, Population: 2508900
State: Perlis, Capital: Kangar, Population: 255400
State: Sabah, Capital: Kota Kinabalu, Population: 3833000
State: Sarawak, Capital: Kuching, Population: 2822200
State: Selangor, Capital: Shah Alam, Population: 6555400
State: Terengganu, Capital: Kuala Terengganu, Population: 1275100
State: Kuala Lumpur, Capital: Kuala Lumpur, Population: 1746600
State: Labuan, Capital: Victoria, Population: 100100
State: Putrajaya, Capital: Putrajaya, Population: 116100

In [245]:
# using web data
import requests
api_url = "https://jian.sh/malaysia-api/state/v1/all.json"
response = requests.get(api_url)
malaysia_state_data = response.json()

state_input = input("Enter the name of a state: ")
for state in malaysia_state_data:
        if state['state'] == state_input:
            print("Population of", state_input,":",state['population'])   
        break
if state['state'] != state_input:
    print(state_input,'is not found in the data')

Enter the name of a state: Johor
Population of Johor : 3794000

In [243]:
# Writing data to a text file.
with open('output.txt', 'w') as file:
    file.write('Hello, Python!')
    file.write('Hello, world!')
    file.write('\n')
    file.write('\nHello, world!')
    file.write('str')

In [244]:
# WRITTING JASON
import json
data = {'name': 'Alice', 'age': 30}
with open('output.json', 'w') as file:
    json.dump(data, file)

In [248]:
#writting csv
import csv
with open('output.csv', 'w', newline='') as file:
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age'])
    writer.writerow(['Alice', 30])

In [259]:
import csv
input_file = 'students.csv'
output_file = 'top_students.csv'
with open(input_file, 'r') as file:
    csv_reader = csv.DictReader(file)
   # define 
    modified_rows=[]
    for row in csv_reader:
        # Check if the grade is greater than or equal to 'B'
        if row['Grade'] <= 'B':
            # Add a new 'Status' column and set its value to 'Passed'
            row['Status'] = 'Passed'
            # Append the row to the list
            #pint(row)
            modified_rows.append(row) #save

with open(output_file, 'w', newline='') as file:
    
    writer = csv.writer(file)
    writer.writerow(['Name', 'Age', 'Grade', 'Status'])
    
    for student in modified_rows:
        writer.writerow([student['Name'], student['Age'], student['Grade'], student['Status']])

# Exceptions

In [16]:
#ValueError: Occurs when a function receives an argument with the right type but an inappropriate value.
#Example: int('a') - Trying to convert a non-numeric string into an integer.

#TypeError: Happens when an operation is performed on an object of an inappropriate type.
#Example: "2" + 2 - Attempting to add a string and an integer.

#IndexError: Triggered when attempting to access an index that is out of the range of a sequence (like a list).
#Example: my_list = [1,2,3]; my_list[3] - Accessing a non-existent fourth element in a three-element list.

#KeyError: Occurs when a dictionary key is not found.
#Example: my_dict = {'a': 1}; my_dict['b']

#NameError: When an attempt is made to access a local or global name that is not defined.
#Example: print(unknown_var)

In [17]:
try:
    number = int(input("Enter a number: "))
except ValueError:
    print("That's not a number!")

Enter a number: F
That's not a number!

In [15]:
try:
    number = int(input("Enter a number: "))
except ValueError:
    print("That's not a number!")
else:
    print("You entered a number!")
finally:
    print("This is executed no matter what!")

Enter a number: 4
You entered a number!
This is executed no matter what!

In [20]:
try:
    user_input = input("Enter a number: ")
    result = 1 / int(user_input)
    print(result)
except ValueError:
    print("Please enter a valid integer.")
except ZeroDivisionError:
    print("Division by zero is not allowed.")

Enter a number: 0
Division by zero is not allowed.

In [96]:
try:
    operation = input("operator: ")
    num1 = float(input('number1:'))
    num2 = float(input('number2:'))

    
    if operation == '+':
        print('answer:', num1, operation, num2,"=", num1+num2)
    elif operation == '-':
        print('answer:', num1, operation, num2,"=", num1-num2)
    elif operation == '*':
        print('answer:', num1, operation, num2,"=", num1*num2)
    elif operation == '/':
        if num2 == 0:
            raise ZeroDivisionError("Error: Cannot divide by zero")
            print('answer:', num1, operation, num2,"=", num1/num2)
    else:
        raise Exception("Invalid operation. Please enter +, -, *, or /.")

except ValueError:
    print("Please enter a valid integer.")
except ZeroDivisionError as e:
    print("Division by zero is not allowed.")        
except Exception:
    print("An unexpected error occurred check the operator or numbers")

operator: *
number1:7.54
number2:9.097
answer: 7.54 * 9.097 = 68.59138